$light-purple: rgba(171, 122, 224, 1);
$light-purple-trans: rgba(171, 122, 224, 0.5);
$dark-purple: rgba(100, 42, 181, 1);
$gray: rgba(66, 66, 69, 1);
$dark-gray: rgba(50, 50, 52, 1);
$light-gray: rgba(204, 204, 206, 1);
$light-gray-trans: rgba(204, 204, 206, 0.8);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
// $gray-menu-bg: rgba(50, 50, 52, 0.8);
$gray-menu-bg: rgb(54, 54, 56);
$border: rgba(86, 86, 89, 1);